.window-header {
    height: 23px;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: #000080;
    display: flex;
}
.window-header.inactive {
    background-color: white;
}
.window-header.inactive .window-header-title {
    color: black;
}
.window-header-title {
    color: white;
    font-family: 'Pxlvetica', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: auto;
    pointer-events: none;
}
.window-header-title-text {
    margin: 0;
    line-height: 100%;
    font-size: 19px;
    user-select: none;
}
