.window-header button {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    border: outset;
}
.window-header button img {
    height: 100%;
    padding: 20%;
    box-sizing: border-box;
}
.window-header button.button-minimize {
    margin-left: auto;
}

.window-header button:active {
    border: inset;
    outline: none;
}
.window-header button:focus {
    outline: none;
}