body {
  background-color: #c0c0c0;
}
.App {
    margin: 1rem;
    font-family: 'Pxlvetica', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transform-origin: top left;
    display: flex;
  }

  @font-face {
      font-family: 'Pxlvetica'; 
      src: url(/Pxlvetica.ttf); 
  }